<footer class="footer" style="text-align: center;">
  <p>&copy; 2025-{{year}} Arconia. All rights reserved.<br>
  Made with ❤️ in Europe by <a href="https://www.thomasvitale.com">Thomas Vitale</a>, with contributions from the <a href="https://github.com/arconia-io">open-source community</a>.
  </p>
</footer>
